/*
 * ESTILS DE LA PÀGINA "p_prin.php".
 */

html, body{
	height: 85%;
	width: 99%;
}
#div_taulaMes{
	height: 90%;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
	margin-bottom: 13%;
}
#table_Mes{
	height: 100%;
	width: 100%;
}
#table_Mes td{
	/* Aquesta és la amplada que ha de fer cadascuna de les ce·les perquè totes facin la mateixa amplada. */
	width: 14%;
	height: 10%;
	vertical-align: top;
}
#table_Mes, #table_Mes tr, #table_Mes td{
	border-color: #000000;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0px;
	border-radius: 4px;
}
#titols_dies_setmana{
	text-align: center;
	height: 20px;
	background-color: #006699;
	font-weight: bold;
	font-size: 19px;
}
#link_tancarSessio{
	text-align: right;
	margin-top:-19px;
	font-size:14px;
	width: 140px;
	float: right;
}
#div_nomUsuari{
	margin-top: 0px;
	text-align: right;
	margin-right: 140px;
}
#link_anarMesActual{
	text-align: left;
	margin-top: 0px;
	font-size: 14px;
	position: absolute;
}
#nomMesIAny{
	font-size:36px;
	font-family:"Comic Sans MS";
	text-decoration:underline;
	margin-bottom:60px;
	text-align:center;
}
#fletxaMesAnterior{
	font-size:40px;
	font-family:"Comic Sans MS";
	margin-left: 1%;
	margin-top: 5.5%;
	float:left;
	width:0%;
	height:0%;
	text-decoration: none;
}
#fletxaMesSeguent{
	font-size:40px;
	font-family:"Comic Sans MS";
	margin-bottom:60px;
	float:right;
	margin-right: 4%;
	margin-top: 5.5%;
	width:0%;
	height:0%;
	text-decoration: none;
}
.espaiNumCeles{
	margin-bottom: 0%;
	height: 100%;
	width: 13%;
	font-weight: bold;
	text-decoration: underline;
}
.divAfegirTasca{
	cursor: pointer;
	margin-right: 3px;
	/*top: -129%;*/
	float:right;
	text-align:right;
	position:relative;
	text-decoration: none;
	font-weight: bold;
	font-size: 16px;
	color: blue;
	top:-40px;
}
#divRequadreAfegirTasca{
	display: none;
	position: fixed;
	border-color: #000000;
	border-style: solid;
	border-width:2px;
	border-radius: 3px;
	width: 450px;
	height: 300px;
	
	margin-top: -8%;
	margin-left: 27.2%;
	margin-right: 27.2%;
	background-color: #fff;
	z-index: 1001;
}
#titol_RequadreAfegirTasca{
	text-align: center;
	text-decoration: underline;
	
	margin-top: 8px;
}
#div_form_RequadreAfegirTasca{
	height: 160px;
	padding-left: 28px;
}
#botonsAccions{
	margin-top: 18px;
}

#select_minuts{
	margin-left: -2px;
}
#select_hores{
	margin-right: -2px;
}
#camps_descripcio{
	margin-top:18px;
}
#camps_descripcio label{
	float: left;
}
#textArea_Descripcio{
	resize: none;
}
#camps_compartirEvent{
	margin-top: 18px;
}
#camps_hora label, #camps_descripcio label, #camps_compartirEvent label{
	margin-right: 10px;
}
#camps_hora{
	margin-top: 18px;
}
#botoCancelarTasca{
	float: left;
}
#botoCrearTasca{
	float: right;
	margin-right: 29px;
}
#mes_F5C7{
	/*background-color:black;*/
}
#emergentMissatgeDades{
	display: none;
	position: fixed;
	border-color: #000000;
	border-style: solid;
	border-width:2px;
	border-radius: 3px;
	width: 450px;
	height: 100px;
	
	margin-left: 27.2%;
	margin-right: 27.2%;
	background-color: #fff;
	z-index: 1010;
}
#titolEmergentMissatgeDades{
	text-align: center;
	text-decoration: underline;
	
	margin-top: 55px;
}
.divNumeroTasques{
	top: -98%;
	/*margin-top:2px;*/
	position: relative;
	text-align: right;
	margin-right: 3%;
	cursor: pointer;
	color: blue;
	text-decoration: underline;
}
#iconeTancaremergentMissatgeDades{
	float: right;
	margin-right: 7px;
	margin-top: -72px;
	cursor: pointer;
}
#emergentInfoTasques{
	display: none;
	/* Aquesta propietat obliga a la capa a fer scroll quan faci la altura especificada. */
	overflow-y:scroll;
	background-color:#FFF;
	z-index: 1001;
	position:fixed;
	border-color: #000000;
	border-style: solid;
	border-width:2px;
	width: 450px;
	height: 300px;
	margin-top: -8%;
	margin-left: 27.2%;
	margin-right: 27.2%;
}
#taula_dadesTasca{
	width: 100%;
}
#taula_dadesTasca th{
	background-color: #084B8A;
	border-color: #000000;
	border-style: solid;
	border-width:2px;
}
#botoTancarVeureTasques{
	float:right;
	background-color: #DF7401;
	border-color: #000;
	border-style: solid;
	border-width: 2px;
	border-radius: 2px;
	cursor:pointer;
}
